<div id="about" class="scene">
	<div class="container">
    <div class="button small back">
      <div class="bevel">
        <span class="text">&lt; Title</span>
      </div>
    </div>

		<h2>About</h2>

		<p>Designed and programmed<br>by Nathan Demick.</p>

    <div class="button sfx">
      <div class="bevel">
        <span class="text">Sound ON</span>
      </div>
    </div>

    <div class="button music">
      <div class="bevel">
        <span class="text">Music ON</span>
      </div>
    </div>

    <div class="button feedback">
      <div class="bevel">
        <span class="text">Feedback</span>
      </div>
    </div>

    <div class="button reset">
      <div class="bevel">
        <span class="text">Erase Data</span>
      </div>
    </div>

  </div>  <!-- /.container -->
</div>  <!-- /.scene -->
