<div id="difficulty-select" class="scene">
	<div class="container">

		<div class="button small back"><span>&larr; Title</span></div>
		<div class="button small restore"><span>Restore</span></div>

		<h2>Select Difficulty</h2>

		<div class="button easy" data-difficulty="easy"><span data-difficulty="easy" data-purchased="yes">Easy</span></div>
		<div class="button medium" data-difficulty="medium"><span data-difficulty="medium" data-purchased="no">Medium</span></div>
		<div class="button hard" data-difficulty="hard"><span data-difficulty="hard" data-purchased="no">Hard</span></div>
		<div class="button random" data-difficulty="random"><span data-difficulty="random" data-purchased="no">Random</span></div>

	</div>
</div>