<div id="difficulty-select" class="scene">
	<div class="container">

		<div class="small button back"><span>&lt; Title</span></div>
		<div class="small button restore"><span>Restore</span></div>

		<h2>Select Difficulty</h2>

		<div class="button select" data-difficulty="beginner">
			<span>Beginner</span>
		</div>

		<div class="button select" data-difficulty="easy">
			<span>Easy</span>
		</div>

		<div class="button select" data-difficulty="medium">
			<span>Medium</span>
		</div>

		<div class="button select" data-difficulty="hard">
			<span>Hard</span>
		</div>

		<div class="button select" data-difficulty="random">
			<span>Random</span>
		</div>

	</div>
</div>
