<div id="difficulty-select" class="scene">
	<div class="container">
    <div class="small back button">&lt; Title</div>
    <div class="small restore button">Restore</div>

		<h1 title="Select Difficulty">Select Difficulty</h1>

		<div class="button select" data-difficulty="beginner">Beginner</div>
		<div class="button select" data-difficulty="easy">Easy</div>
		<div class="button select" data-difficulty="medium">Medium</div>
		<div class="button select" data-difficulty="hard">Hard</div>
		<div class="button select" data-difficulty="random">Random</div>
	</div>
</div>
