<div id="editor" class="scene">
	<div class="container">

		<div class="top">
      <div class="button save">
        <div class="bevel">
          <span class="text">Save</span>
        </div>
			</div>

			<div class="button quit">
        <div class="bevel">
          <span class="text">Quit</span>
        </div>
			</div>

			<div class="button smaller">
        <div class="bevel">
          <span class="text">Smaller</span>
        </div>
			</div>

			<div class="button larger">
        <div class="bevel">
          <span class="text">Larger</span>
        </div>
			</div>
		</div> 	<!-- /.top -->

		<div class="grid">
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
		</div> 	<!-- /.grid -->

		<div class="bottom">
			<div class="button redo">
        <div class="bevel">
          <span class="text">Redo</span>
        </div>
			</div>
			<div class="button undo">
        <div class="bevel">
          <span class="text">Undo</span>
        </div>
			</div>
		</div>	<!-- /.bottom -->

	</div>
</div>
