<div id="editor" class="scene">
	<div class="container">

		<div class="top">
			<div class="button help">
				<span>Help</span>
			</div>

			<div class="button quit">
				<span>Quit</span>
			</div>

			<div class="button smaller">
				<span>Smaller</span>
			</div>

			<div class="button larger">
				<span>Larger</span>
			</div>
		</div> 	<!-- /.top -->

		<div class="grid">
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
		</div> 	<!-- /.grid -->

		<div class="bottom">
			<div class="button redo">
				<span>Redo</span>
			</div>
			<div class="button undo">
				<span>Undo</span>
			</div>
		</div>	<!-- /.bottom -->

	</div>
</div>
