<div id="game" class="scene">
	<div class="container">

		<div class="top">
			<div class="button actions pause">
				<div class="bevel">
					<span class="text">Pause</span>
				</div>
			</div>

			<div class="info complete">
				<div class="percentage">0</div>
				Percent Complete
			</div>

			<div class="info timer">
				Time<br>
				<span class="minutes">00</span><span>:</span><span class="seconds">00</span>
			</div>
    </div>  <!-- /.top -->

		<div class="grid-background">
			<div class="minimap"></div>

			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>

			<div class="grid">
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
			</div>

			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
		</div>	<!-- /.grid-background -->

    <div class="bottom">
      <div class="button actions mark">
        <div class="bevel">
          <span class="text">
            <span class="icon"></span> Mark
          </span>
        </div>
      </div>

      <div class="button actions fill">
        <div class="bevel">
          <span class="text">
            <span class="icon"></span> Fill
          </span>
        </div>
      </div>
    </div>	<!-- /.bottom -->

  </div> <!-- /.container -->
</div> <!-- /.scene -->
