<div id="game" class="scene">
	<div class="container">

		<div class="top">
			<div class="button actions pause">
				<span><span class="text">Pause</span></span>
			</div>

			<div class="info complete">
				<div class="percentage">0</div>
				Percent Complete
			</div>

			<div class="info timer">
				Time<br>
				<span class="minutes">00</span><span>:</span><span class="seconds">00</span>
			</div>
		</div>

		<div class="grid-background">
			<div class="minimap"></div>

			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>
			<div class="vertical clue"></div>

			<div class="grid">
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
				<div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div><div class="blank"></div>
			</div>

			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
			<div class="horizontal clue"></div>
		</div>	<!-- /.grid-background -->

		<div class="bottom">
			<div class="button actions mark">
				<span><span class="text">
						<span class="icon"></span> Mark
				</span></span>
			</div>
			<div class="button actions fill">
				<span><span class="text">
					<span class="icon"></span> Fill
				</span></span>
			</div>
		</div>	<!-- /.bottom -->

	</div>
</div>