<div id="level-select" class="scene">
	<div class="container">
		<div class="button small back"><span>&lt; Difficulty</span></div>

		<h2>Select Level</h2>

		<div class="button previous"><span>&lt;</span></div>
		<div class="button next"><span>&gt;</span></div>

		<div class="preview">
			<div class="group">
				<canvas class="selected"></canvas>
				<canvas></canvas>
				<canvas></canvas>

				<canvas></canvas>
				<canvas></canvas>
				<canvas></canvas>

				<canvas></canvas>
				<canvas></canvas>
				<canvas></canvas>
			</div>
			<div class="group">
				<canvas class="selected"></canvas>
				<canvas></canvas>
				<canvas></canvas>

				<canvas></canvas>
				<canvas></canvas>
				<canvas></canvas>

				<canvas></canvas>
				<canvas></canvas>
				<canvas></canvas>
			</div>
		</div>

		<ul class="info">
			<li class="level-number"></li>
			<li class="attempts"></li>
			<li class="best-time"></li>
		</ul>

		<div class="button play"><span>Play</span></div>
	</div>
</div>
