<div id="title" class="scene">
	<div class="container">
		<h1>Nonogram Madness</h1>

		<div class="button play">
      <div class="bevel">
        <span class="text">Play</span>
      </div>
		</div>

    <!-- <div class="button editor">
      <div class="bevel">
        <span class="text">Editor</span>
      </div>
    </div> -->

    <div class="button tutorial">
      <div class="bevel">
        <span class="text">Tutorial</span>
      </div>
    </div>

    <div class="button about">
      <div class="bevel">
        <span class="text">About</span>
      </div>
    </div>

		<p class="copyright">&copy; 2010&ndash;2015 Ganbaru Games</p>
	</div>
</div>
