<div id="user-puzzle-select" class="scene">
	<div class="container">

    <div class="button small back">
      <div class="bevel">
        <span class="text">&lt; Title</span>
      </div>
    </div>

		<h2>Select Puzzle</h2>

    <div class="button previous">
      <div class="bevel">
        <span class="text">&lt;</span>
      </div>
    </div>
    <div class="button next">
      <div class="bevel">
        <span class="text">&gt;</span>
      </div>
    </div>

		<div class="preview">
			<div class="group">
				<canvas class="selected"></canvas>
				<canvas></canvas>
				<canvas></canvas>

				<canvas></canvas>
				<canvas></canvas>
				<canvas></canvas>

				<canvas></canvas>
				<canvas></canvas>
				<canvas></canvas>
			</div>
			<div class="group">
				<canvas class="selected"></canvas>
				<canvas></canvas>
				<canvas></canvas>

				<canvas></canvas>
				<canvas></canvas>
				<canvas></canvas>

				<canvas></canvas>
				<canvas></canvas>
				<canvas></canvas>
			</div>
		</div>

		<ul class="info">
			<li class="title"></li>
		</ul>

	    <div class="button play">
	      <div class="bevel">
	    	<span class="text">Play</span>
	      </div>
	    </div>

	    <div class="button share">
	      <div class="bevel">
	    	<span class="text">Share</span>
	      </div>
	    </div>

	    <div class="button edit">
	      <div class="bevel">
	    	<span class="text">Edit</span>
	      </div>
	    </div>

	    <div class="button remove">
	      <div class="bevel">
	    	<span class="text">Remove</span>
	      </div>
	    </div>

	</div>
</div>
